@import url('https://fonts.googleapis.com/css?family=Karla:400,400i,700,700i|Ubuntu+Mono');
@import url('https://moonien.github.io/yuen01.css');

.yuencomm04-call,
.yuencomm04-text { --bg-color:#fafafa;--yeet:rgb(var(--moon));
width:260px;margin:20px auto;border-radius:10px;box-shadow:0px 0px 3px rgba(0,0,0,0.2);background:linear-gradient(10deg,var(--bg-color) 35%,transparent 70%), var(--bg-color) var(--bgimg);background-size:260px;background-repeat:no-repeat;background-position:top center;font:15px karla;line-height:18px;padding-bottom:1px; }

.yuencomm04-head { height:200px;position:relative;z-index:2;padding:15px;box-sizing:border-box;color:var(--bg-color);font:12px ubuntu mono;text-transform:uppercase; }
.yuencomm04-head:before { content:"texting "; }
.yuencomm04-call .yuencomm04-head:before { content:"calling "; }
.yuencomm04-head:after { content:" ..."; }
.yuencomm04-head a { all:initial;color:inherit!important;font:inherit!important;text-transform:uppercase; }

div[class*=yuencomm04] ystar { height:0px;display:block;margin-bottom:30px; }
div[class*=yuencomm04] ystar:before,
div[class*=yuencomm04] ystar:after { content:"\eb67";font:50px honeybee;line-height:0px;height:0px;position:absolute;z-index:1;display:block;color:rgba(var(--moon),0.8); }
div[class*=yuencomm04] ystar:before { transform:rotate(-10deg);transform-origin:50% 50%;margin-left:130px;margin-top:-5px; }
div[class*=yuencomm04] ystar:after { font-size:70px;transform:rotate(15deg);transform-origin:50% 50%;margin-left:180px;margin-top:-25px; }

.yuencomm04-box { position:relative;z-index:2;display:flex;align-items:flex-end;height:190px;padding:20px 15px; }
.yuencomm04-text .yuencomm04-box-scroll { display:flex;flex-flow:column nowrap;align-items:flex-end;width:100%;box-sizing:border-box;padding-right:5px;max-height:100%;overflow:auto; }
.yuencomm04-text .yuencomm04-box-scroll p { margin:0px;padding:0px;background:rgba(var(--moon),0.6);border-radius:7px 2px 2px 7px;padding:7px 10px;margin-top:5px;text-align:left; }
.yuencomm04-text .yuencomm04-box-scroll p:first-child { margin-top:0px;border-top-right-radius:7px; }

.yuencomm04-call .yuencomm04-box { margin-top:-45px;display:block;height:auto;padding:15px; }
.yuencomm04-call .yuencomm04-box-scroll { display:block;height:215px;padding:0px 15px;overflow:auto;text-align:justify;background:rgba(255,255,255,0.5);border-radius:10px;border-top:12px solid transparent;border-bottom:12px solid transparent;box-shadow:0px 0px 4px rgba(0,0,0,0.1); }
.yuencomm04-call .yuencomm04-box-scroll b { color:var(--yeet); }
.yuencomm04-call .yuencomm04-box-scroll i { color:#777;letter-spacing:1px; }

.yuencomm04-box-scroll { scrollbar-width:thin;scrollbar-color:var(--yeet) transparent; }
.yuencomm04-box-scroll::-webkit-scrollbar { width:6px!important;border:none!important;border-radius:5px!important;background:transparent!important; }
.yuencomm04-box-scroll::-webkit-scrollbar-track { background:transparent!important;border:none!important;border-radius:5px!important; }
.yuencomm04-box-scroll::-webkit-scrollbar-thumb { background:var(--yeet)!important;border-radius:5px!important;border:none!important;border-radius:5px!important; }
