@import url('https://fonts.googleapis.com/css?family=Karla:400,400i,700i,700|Playfair+Display:700,700i|Ubuntu+Mono:700');
@import url('https://moonien.github.io/yuen01.css');

#proud-gay,
#proud-GAY {
--icon:"\eac3";
--color1:#b85858;
--color2:#e88a50;
--color3:#ffe850;
--color4:#58b860;
--color5:#6058cc;
--color6:#cc58ad;
}
#proud-lesbian,
#proud-LESBIAN {
--color1:#e08b61;
--color2:#e08b61;
--color3:#e08b9c;
--color4:#e08b9c;
--color5:#e061ad;
--color6:#e061ad;
}
#proud-pan,
#proud-PAN {
--color1:#e376a5;
--color2:#e376a5;
--color3:#ffe430;
--color4:#ffe430;
--color5:#45b4c9;
--color6:#45b4c9;
}
#proud-trans,
#proud-TRANS {
--color1:#85c8d7;
--color2:#85c8d7;
--color3:#e3c8d7;
--color4:#e3c8d7;
--color5:#ffc8d7;
--color6:#ffc8d7;
}
#proud-queer,
#proud-QUEER {
--color1:#78c4d7;
--color2:#78c4d7;
--color3:#c4d778;
--color4:#c4d778;
--color5:#ff9985;
--color6:#ff9985;
}
#proud-enby,
#proud-ENBY {
--color1:#e3c84a;
--color2:#e3c84a;
--color3:#b08ccf;
--color4:#b08ccf;
--color5:#919191;
--color6:#919191;
}
#proud-bi,
#proud-BI {
--color1:#d74589;
--color2:#d74589;
--color3:#ac60be;
--color4:#ac60be;
--color5:#414589;
--color6:#414589;
}
#proud-ace,
#proud-ACE {
--color1:#525252;
--color2:#525252;
--color3:#9f9f9f;
--color4:#9f9f9f;
--color5:#922e99;
--color6:#922e99;
}
#proud-quoi,
#proud-QUOI {
--color1:#777777;
--color2:#777777;
--color3:#3da542;
--color4:#3da542;
--color5:#7bb9d2;
--color6:#7bb9d2;
}
#proud-aro {
--color1:#56B84F;
--color2:#56B84F;
--color3:#9f9f9f;
--color4:#9f9f9f;
--color5:#525252;
--color6:#525252;
}
#proud-cupio {
--color1:#B5B5B5;
--color2:#B5B5B5;
--color3:#CEB3DB;
--color4:#CEB3DB;
--color5:#FCBDEE;
--color6:#FCBDEE;
}
#proud-lith {
--color1:#DB6060;
--color2:#DB6060;
--color3:#FFE23D;
--color4:#FFE23D;
--color5:#6E6E6E;
--color6:#6E6E6E;
}
#proud-fray {
--color1:#4E86BA;
--color2:#4E86BA;
--color3:#86B5E0;
--color4:#86B5E0;
--color5:#8F8F8F;
--color6:#8F8F8F;
}
#proud-recipro {
--color1:#EB65A4;
--color2:#EB65A4;
--color3:#FFA5D0;
--color4:#FFA5D0;
--color5:#636363;
--color6:#636363;
}
#proud-aroflux {
--color1:#F0487D;
--color2:#F0487D;
--color3:#FBE6CD;
--color4:#FBE6CD;
--color5:#5B9447;
--color6:#5B9447;
}
#proud-aroace {
--color1:#EBA338;
--color2:#EBA338;
--color3:#CCCCCC;
--color4:#CCCCCC;
--color5:#5E69AB;
--color6:#5E69AB;
}
/*FFDD59*/



.yuenthread05,
.yuenthread05-light,
.yuenthread05-dark {
--bg-color:#fefefe;
--text:#222;
--bg-op:255,255,255;
--grad:linear-gradient(70deg, rgba(var(--bg-op),0.5) 10%, rgba(var(--bg-op),0.3) 50%, rgba(var(--bg-op),0) 90%),var(--yeet);
--rgrad:linear-gradient(180deg, rgba(var(--bg-op),0.5) 10%, rgba(var(--bg-op),0.3) 50%, rgba(25,25,25,0.05) 90%),var(--yeet);
width:350px;box-sizing:border-box;background:var(--grad);box-shadow:0px 0px 2px #ccc;margin:20px auto;text-align:justify;font:13px karla;line-height:17px;color:var(--text);margin-top:60px; }
.yuenthread05-box { padding-bottom:15px;padding-top:10px; }
.yuenthread05-cont { padding:20px;background:var(--bg-color); }
.yuenthread05-text { padding:10px 0px; }

.yuenthread05-title { text-align:center; }
.yuenthread05-title font { display:inline-block;width:max-content;max-width:80%;background:var(--grad);font:italic 700 20px playfair display;line-height:20px;padding-bottom:5px; }
.yuenthread05-cont b { background:var(--rgrad);font:700 14px playfair display;line-height:16px; }
.yuenthread05-cont b,
.yuenthread05-title font { color:transparent;background-clip:text;-webkit-background-clip:text; }

.yuenthread05-icon { border:5px solid var(--yeet);border-bottom-color:var(--bg-color);background:var(--bg-color);transform:rotate(45deg);width:90px;height:90px;padding:5px;box-sizing:border-box;border-radius:100%;color:white;float:right;margin-right:-65px;margin-top:-65px;box-shadow:1px -1px 1px -1px #ccc;backface-visibility:hidden; }
.yuenthread05-icon img { border-radius:100%;width:70px;height:70px;object-fit:cover;transform:rotate(-45deg);background:var(--bg-color);image-rendering:-webkit-optimize-contrast;backface-visibility:hidden; }

.yuenthread05-tags { font-size:0px;display:flex;flex-flow:row wrap;justify-content:flex-start;align-items:center;align-content:flex-start;with:100%;box-sizing:border-box; }
.yuenthread05-tags a { background:var(--rgrad)!important;color:var(--bg-color)!important;display:flex;padding:4px 7px;border-radius:5px;margin-right:5px;margin-bottom:5px;font:700 12px karla!important;text-transform:uppercase!important;line-height:15px!important; }
.yuenthread05-tags a:before { content:"\ea58";font-family:honeybee;font-size:18px;height:23px;width:23px;display:flex;justify-content:center;align-items:center;border-radius:50px;mix-blend-mode:screen;color:black;background:var(--bg-color);margin:-4px 0px;margin-right:5px;box-shadow:0px 0px 4px var(--yeet); }

.yuenthread05-tags:after,
.yuenthread05-title:before,
.yuenthread05 hr { content:"";display:block;margin:10px;border:none;border-top:1px solid #ccc;border-left:120px solid transparent;border-right:120px solid transparent;box-shadow:none; }

.yuenthread05-dark { --bg-color:#2f2f2f;--text:#eee;--bg-op:0,0,0; }
.yuenthread05-dark .yuenthread05-tags a:before { mix-blend-mode:multiply;color:white; }
.yuenthread05-dark .yuenthread05-tags:after,
.yuenthread05-dark .yuenthread05-title:before { border-top-color:#777; }

div[id*="proud-"] {
--grad:linear-gradient(70deg, var(--color1) 20%, var(--color2) 30%, var(--color3) 50%, var(--color4) 60%, var(--color5) 80%, var(--color6) 90%);
--rgrad:linear-gradient(180deg, var(--color2) 35%, var(--color4) 60%, var(--color6) 80%);
--yeet:var(--color6);
}
div[id*="proud-"] .yuenthread05-tags a { --rgrad:linear-gradient(180deg, var(--color2) 0%, var(--color4) 50%, var(--color6) 100%); }
#proud-gay,
#proud-GAY,
#proud-gay .yuenthread05-tags a,
#proud-GAY .yuenthread05-tags a { --rgrad:var(--grad); }


div[id*="proud-"] .yuenthread05-title font { display:inline-block;width:max-content;background-image:var(--grad)!important; }
div[id*="proud-"] a[href^="https://cttw.jcink.net/index.php?showuser=18258"]:before { --yeet:var(--color1); }
