restless-directory character:before { content:var(--mg-icon); color:var(--temp-mg-color); font-size:100px; position:absolute; top:10px; right:10px; opacity:0.3; z-index:1;}
restless-directory character span { display:none; }
.Atlantis { --mg-icon:"\eca7"; }
.Pandora { --mg-icon:"\eb96"; }
.SBEnt { --mg-icon:"\e9b4"; }
.Cloud8 { --mg-icon:"\ea01"; }
.Media { --mg-icon:"\e9ad"; }
.Press { --mg-icon:"\ebaa"; }
.Civilian { --mg-icon:"\eb0d"; }
