@import url('https://fonts.googleapis.com/css?family=Nunito:400,400i,600,600i,700,700i,900,900i');
@import url('https://msikma.github.io/pokesprite-spritesheet/assets/pokesprite-pokemon-gen8.css');

.yuenshipper03 { --whitefont:#f9f9f9;width:500px;padding:20px;box-sizing:content-box;margin:20px auto;background:var(--whitefont);font:16px nunito;text-align:center;box-shadow:0px 0px 8px -3px rgba(0,0,0,0.2);color:#111;letter-spacing:0px; }
.yuenshipper03-2 { position:relative;clear:both;height:535px; }

.yuenshipper03-box { display:flex;justify-content:flex-start;font-size:0px;background:white; }
.yuenshipper03-box [type=radio] { display:none; }
.yuenshipper03-box label { display:inline-block;transition:0.8s;font:500 11px libre franklin;line-height:30px;text-align:center;text-transform:uppercase;height:0px;margin-left:15px;cursor:pointer;margin-top:130px;position:relative;z-index:10;display:flex;align-items:center; }
.yuenshipper03-box label font { border-radius:100%;width:56px;height:56px;padding:3px;transition:0.8s;display:block;margin-bottom:-15px;background:#ddd;box-shadow:inset 0px 0px 0px 100px rgba(255,255,255,0.1),0px 0px 5px rgba(0,0,0,0.2); }
.yuenshipper03-box label font span { display:block;margin-left:-6px;margin-top:-5px; }
.yuenshipper03-box label font:hover,
.yuenshipper03 input:checked+label font { background:var(--yeet); }

.yuenshipper03-cont { width:500px;height:535px;opacity:0;margin-top:-0px;position:absolute;left:0px;transition:0.8s;text-align:justify;box-sizing:border-box;font:16px nunito;line-height:22px; }

.yuenshipper03-cont-scroll b,
.yuenshipper03-cont-scroll i,
.yuenshipper03-cont-special b,
.yuenshipper03-cont-special i { background:linear-gradient(0deg,var(--yd) 20%,var(--yl) 80%);background-clip:text;-webkit-background-clip:text;color:transparent;text-shadow:none; }

.yuenshipper03-cont-head { height:130px;background:var(--yeet) linear-gradient(200deg,rgba(255,255,255,0.5),transparent);border-bottom:10px solid #eee;margin-bottom:20px; }
.yuenshipper03-cont-head img { width:100%;height:100%;object-fit:cover;mix-blend-mode:multiply; }
.yuenshipper03-cont-title { height:260px;position:absolute;width:165px;text-align:right;display:flex;flex-flow:row wrap;justify-content:flex-end;align-content:center;box-sizing:border-box;border-right:2px solid var(--yeet);padding-right:12px; }
.yuenshipper03-cont-title b { font:900 18px nunito;text-align:right;color:var(--whitefont);background:var(--yeet) linear-gradient(to right,rgba(255,255,255,0.5),transparent);margin-right:-12px;border-radius:15px 0px 0px 15px;padding:5px 8px;margin-left:15px; }
.yuenshipper03-cont-title hr { width:100%;height:0px;opacity:0;margin:0px;padding:0px; }
.yuenshipper03-cont-title a { color:var(--yeet);font-size:12px;text-transform:uppercase;font-weight:700;margin-top:5px;margin-left:5px;line-height:15px;text-decoration:none; }
.yuenshipper03-cont-title a[href*="?showtopic"] { border-bottom:2px solid var(--yeet); }
.yuenshipper03-cont-title a:before { content:"#"; }
.yuenshipper03-cont-scroll { background:#fff;overflow:auto;height:260px;box-sizing:border-box;padding:0px 20px;padding-left:185px;border-top:20px solid transparent;border-bottom:20px solid transparent;border-radius:10px;border-bottom-left-radius:0px; }

.yuenshipper03-cont-special { float:right;width:32%;font-size:13px;line-height:15px;overflow:auto;height:90px;margin-top:12px;box-sizing:border-box;padding-right:5px; }
.yuenshipper03-cont-wanted { width:60%;background:#eee;height:115px;box-sizing:border-box;overflow:auto;border-radius:0px 0px 15px 15px;margin-left:20px;padding:0px 15px;border-top:15px solid transparent;border-bottom:8px solid transparent;font-size:15px;line-height:18px; }
.yuenshipper03-cont-wanted:before { content:"seeking";background:var(--yeet);position:absolute;margin-top:-27px;margin-left:-35px;font:700 14px nunito;line-height:26px;border-radius:20px;padding:0px 10px;color:var(--whitefont);text-transform:uppercase; }
#y-rel .yuenshipper03-cont-wanted:before { content:"affiliations"; }
#y-two .yuenshipper03-cont-wanted:before { content:"goals / arcs"; }

.y-timeline { padding-left:180px;border-top-width:0px; }
.y-timeline span { margin-left:-15px;display:block;background:var(--yeet) linear-gradient(to left,rgba(255,255,255,0.5),transparent);width:max-content;padding:5px 15px;border-radius:0px 0px 20px 0px;color:var(--whitefont);font-weight:900;margin-bottom:7px;margin-top:7px;position:sticky;position:-webkit-sticky;top:0px;box-shadow:100px 0px 0px white,200px 0px 0px white,0px 7px 0px white,100px 7px 0px white,200px 7px 0px white,0px 7px 0px white; }
.y-timeline span:first-child { margin-top:0px; }

.yuenshipper03 #ysc-1:checked+label ~ #y-one.yuenshipper03-cont,
.yuenshipper03 #ysc-2:checked+label ~ #y-rel.yuenshipper03-cont,
.yuenshipper03 #ysc-3:checked+label ~ #y-two.yuenshipper03-cont { opacity:1;z-index:2; }

div[class*="yuenshipper03-cont-"] { scrollbar-width:thin;scrollbar-color:var(--yeet) #eee; }
div[class*="yuenshipper03-cont-"]::-webkit-scrollbar { width:6px!important;border:none!important;border-radius:5px!important;background:#eee!important; }
div[class*="yuenshipper03-cont-"]::-webkit-scrollbar-track { background:transparent!important;border:none!important;border-radius:5px!important; }
div[class*="yuenshipper03-cont-"]::-webkit-scrollbar-thumb { background:var(--yeet)!important;border-radius:5px!important;border:none!important;border-radius:5px!important; }





#yuen { --yd:#8bacc1;--yl:#8bc1bb; }
#quinn { --yd:#87ad82;--yl:#ada882;--yeet:#AEB1BA; }
#victoris { --yd:#a093ba;--yl:#93adba;--yeet:#CCA3A3; }

#y-one { --yeet:var(--yd); }
#y-two { --yeet:var(--yl); }

.tbar { z-index:99; }
