@import url('https://fonts.googleapis.com/css?family=Karla:400,400i,500,700,700i|Montserrat:700');
@import url('https://dl.dropbox.com/s/9s289mbhxpdhb3l/starry.css');

.lan-eykta a{text-decoration:none;}

.lan-eykta { --eight:#dcb57c;--delilah:#631721;--christoph:#8acae6;--thanh:#3a5461;--molly:#824274;--sasha:#f7a9d9;--violet:#796d89;--jody:#d8293a;--zephyr:#888;
width:615px;height:530px;margin:30px auto;text-align:justify;font:13px karla;line-height:16px;background:#fafafa;border:1px solid #ccc;overflow:auto;scroll-behavior:smooth; }
.lan-eykta b,
.lan-eykta i { color:var(--eight); }

.lan-eykta-nav { display:flex;flex-flow:row wrap; justify-content:space-between;align-content:space-between;height:126px;width:126px;position:absolute;z-index:127;margin-left:20px;margin-top:20px; }
.lan-eykta-nav a { display:flex;align-items:center;justify-content:center;width:40px;height:40px;background:var(--eight);text-decoration:none;color:white;outline:1px solid #ddd; }
.lan-eykta-nav a:before { content:var(--lecon);font:27px starry; }

.lan-eykta-box { background:linear-gradient(180deg, var(--eight) 11%, var(--delilah) 22%, var(--christoph) 33%, var(--thanh) 44%, var(--molly) 55%, var(--sasha) 66%, var(--violet) 77%, var(--jody) 88%, var(--zephyr) 99%);box-shadow:inset 0px 0px 0px 1000px rgba(250,250,250,0.6); }

.lan-eykta-cont { height:530px;display:flex;flex-flow:row nowrap;align-content:flex-end;align-items:flex-end; }

.lan-eykta-img { position:relative;z-index:12;top:30px;width:200px; }
.lan-eykta-img img { height:280px;width:200px;object-fit:cover;border-top-right-radius:20px;border-bottom-right-radius:20px;border-bottom:30px solid var(--eight); }
#eykta lebox { position:relative;width:0px;z-index:12; }
#eykta lebox:before { content:"";display:block;width:200px;height:30px;background:var(--zephyr);border-bottom-right-radius:20px;margin-top:-530px; } 
#zephyr .lan-eykta-img { top:0px; }
#zephyr .lan-eykta-img img { border-width:0px;border-bottom-right-radius:0px; }

.lan-eykta-text { position:relative;width:330px;z-index:12;height:480px;padding:25px;display:flex;flex-flow:row wrap;justify-content:space-between;align-content:space-between; }
.lan-eykta-desc { width:100%;height:287px; }

.lan-eykta-desc, 
.lan-eykta-plotideas,
.lan-eykta-claims { box-sizing:border-box;overflow:auto;background:#fafafa;padding:0px 20px;padding-right:15px;border-top:15px solid transparent;border-bottom:15px solid transparent;border-radius:10px; }
.lan-eykta-plotideas,
.lan-eykta-claims { padding:0px 10px;padding-right:10px;border-width:10px;border-radius:7px;height:100px;text-align:left;line-height:10px; }
.lan-eykta-plotideas { width:55%;font-size:0px; }
.lan-eykta-plotideas span { display:inline-block;font-size:12px;margin:3px 0px;margin-right:4px; }
.lan-eykta-plotideas span:before { content:"#";color:var(--eight); }
.lan-eykta-claims { width:42%; }
.lan-eykta-claims span { display:block;border-top:1px solid var(--eight);padding:5px 0px; }
.lan-eykta-claims span:first-child { border-width:0px; }

.lan-eykta-name { width:96%;padding:0px 2%;display:flex;flex-flow:row wrap;text-align:left;justify-content:flex-start;order:-1; }
.lan-eykta-name font { width:100%;color:var(--eight);font:700 25px montserrat;line-height:30px;text-shadow:2px 2px 0px #f8f8f8;text-transform:uppercase; }
.lan-eykta-name span { background:var(--eight);color:#fff;font:700 11px karla;text-transform:uppercase;padding:2px 5px;border-radius:3px;margin-top:3px;margin-right:3px; }

.lan-eykta-links { position:relative;z-index:7;width:0px; }
.lan-eykta-links span:before { display:flex;align-items:center;justify-content:center;border-radius:200px;width:200px;height:200px;background:var(--eight);color:rgba(255,255,255,0.9);content:var(--lecon);font:110px starry;margin-top:-420px;margin-left:100px;transform:rotate(-20deg);opacity:0.6;z-index:7; }
.lan-eykta-links font { display:flex;align-items:center;justify-content:center;border-radius:200px;width:40px;height:40px;background:var(--eight);z-index:20; }
.lan-eykta-links font a { color:rgba(255,255,255,1)!important;text-shadow:1px 1px 0px rgba(0,0,0,0.3); }
.lan-eykta-links font a:after { content:var(--lancon);font:25px starry; }
.lan-eykta-links font.le-app a:after { --lancon:"\a96"; }
.lan-eykta-links font.le-app { margin-top:-156px;margin-left:58px; }
.lan-eykta-links font.le-dev a:after { --lancon:"\a25"; }
.lan-eykta-links font.le-dev { margin-top:8px;margin-left:53px; }
.lan-eykta-links font.le-req a:after { --lancon:"\a83"; }
.lan-eykta-links font.le-req { margin-top:-178px;margin-left:153px; }

.lan-eykta-nav a[href^="#eykta"],
#eykta { --lecon:"\a7"; }
.lan-eykta-nav a[href^="#delilah"],
#delilah { --lecon:"\a14";--eight:var(--delilah); }
.lan-eykta-nav a[href^="#christoph"],
#christoph { --lecon:"\a24";--eight:var(--christoph); }
.lan-eykta-nav a[href^="#thanh"],
#thanh { --lecon:"\a37";--eight:var(--thanh); }
.lan-eykta-nav a[href^="#molly"],
#molly { --lecon:"\a30";--eight:var(--molly); }
.lan-eykta-nav a[href^="#sasha"],
#sasha { --lecon:"\a78";--eight:var(--sasha); }
.lan-eykta-nav a[href^="#violet"],
#violet { --lecon:"\a101";--eight:var(--violet); }
.lan-eykta-nav a[href^="#jody"],
#jody { --lecon:"\a91";--eight:var(--jody); }
.lan-eykta-nav a[href^="#zephyr"],
#zephyr { --lecon:"\a53";--eight:var(--zephyr); }

#eykta .lan-eykta-links span:before { transform:rotate(-20deg); }

#jody .lan-eykta-cont,
#zephyr .lan-eykta-cont { opacity:0.8; }








/****[QUOTE=DELILAH BAI,May 20 2019, 07:13 PM][dohtml]<style>
@import url('https://moonien.github.io/personal-alo-eykta.css');

.lan-eykta {
--eight:#c9a672;
--delilah:#89332e;
--christoph:#2f868a;
--thanh:#699d4e;
--molly:#e2ba3b;
--sasha:#bb3459;
--violet:#926dab80;
--jody:#d3272b80;
--zephyr:#171329;
}
</style>



<div class="lan-eykta">

<div class="lan-eykta-nav">
<a href="#eykta" title="player eykta"></a>
<a href="#delilah" title="civilian delilah bai"></a>
<a href="#christoph" title="faculty christoph von ende"></a>
<a href="#thanh" title="ravenclaw thanh nguyen"></a>
<a href="#molly" title="gryffindor molly faust"></a>
<a href="#sasha" title="civilian sasha kuznetsova"></a>
<a href="#violet" title="INTERIM faculty violet qadir-lau"></a>
<a href="#jody" title="INTERIM civilian jody snodgrass"></a>
<a href="#zephyr" title="civilian zephyr ristenpat"></a>
</div>


<div class="lan-eykta-box">

<div id="eykta" class="lan-eykta-cont">
<lebox></lebox>
<div class="lan-eykta-links">
<span></span>
<font class="le-app"><a href="http://xalohomorax.jcink.net/index.php?showtopic=8363&st=0&#entry81369" title="tracker"></a></font>
<font class="le-dev"><a href="http://xalohomorax.jcink.net/index.php?showtopic=12&view=findpost&p=67942" title="member directory"></a></font>
<font class="le-req"><a href="http://xalohomorax.jcink.net/index.php?showtopic=8203&view=findpost&p=79909" title="wanted ad overview"></a></font>
</div>
<div class="lan-eykta-img"><img src="https://abload.de/img/plotter2-eyktakyjdh.jpg"></div>
<div class="lan-eykta-text">
<div class="lan-eykta-desc">
<blockquote>
[b]pronouns:[/b] they/them & fae/faer.<br>
[b]terms:[/b] gender-neutral.<br>
[b]avoid:[/b] girl, wo/man.<br>
<br>
ask if unsure (personal or character)! do not use terminology under avoid.
</blockquote>

<b>weird and tired</b> wannabe panda. usually <b>questioning life choices</b>™. <b>introvert and awkward</b> nerd. <b>non-native speaker</b>. <b>agender, queer aroace</b>.<br>
<b>for plots</b> also refer to the <b>notes at the end of an app</b> for more ideas.<br>
<b>happy to plot with you!</b>

<blockquote>
<b>trigger warnings</b> mean (for me): discuss with me first if we want to do this.<br>
<b>(internalised) ace/arophobia</b>, e.g. "i'm broken when i don't feel like media presents love", "you must have sex with your romantic partner", "aros/aces can't have romance/sex".<br>
<b>additionally</b>, please warn for: "it's just a phase/you're too young to determine your identity".
</blockquote>

<b>code made by lan</b>!
</div>
<div class="lan-eykta-name">
<font>eykta.</font>
<span>20s</span>
<span>maths student</span>
<span>resident awkward</span>
<span>gmt+1</span>
</div>
<div class="lan-eykta-plotideas">
<span>open to most things, esp interesting are:</span>
<span>fluff & comedy vs drama</span>
<span>found family</span>
<span>inner vs outer worlds</span>
<span>perception vs reality</span>
<span>change & identity</span>
<span>hurt/comfort/healing</span>
<span>reunion & reconciling</span>
<span>differences & adapting</span>
</div>
<div class="lan-eykta-claims">
<span>no sexual threads</span>
<span>violence okay</span>
<span>no thread limit</span>
<span>flexible wordcount</span>
<span>just ask!</span>
</div>
</div>
</div>


<div id="delilah" class="lan-eykta-cont">
<div class="lan-eykta-links">
<span></span>
<font class="le-app"><a href="http://xalohomorax.jcink.net/index.php?act=ST&f=7&t=6867" title="application"></a></font>
<font class="le-dev"><a href="http://xalohomorax.jcink.net/index.php?showtopic=9085" title="development"></a></font>
<font class="le-req"><a href="http://xalohomorax.jcink.net/index.php?showtopic=8203&view=findpost&p=87809" title="wanted ad(s)"></a></font>
</div>
<div class="lan-eykta-img"><img src="https://abload.de/img/plotter2-delilah2-1e7kha.jpg"></div>
<div class="lan-eykta-text">
<div class="lan-eykta-desc">
<blockquote>
[b]pronouns:[/b] she/her, any.<br>
[b]terms:[/b] any.<br>
[b]avoid:[/b] none.
</blockquote>
you can meet her at the <b>ministry</b> - she is a known trouble maker (trying to get <i>better</i>), but <b>gossip</b> still follows her like vultures waiting for her fall. help her along the journey of <b>self-discovery</b> - the lawfully right way, learning to be an individual, bonds that are made and break. dismantle the <b>purist prejudices</b> fire by flame. watch her tiptoeing social conventions at <b>pureblood gatherings</b> - concerned about <b>ignis</b>. she <b>frequents hogsmeade</b> and is probably a familiar face to locals.
</div>
<div class="lan-eykta-name">
<font>delilah bai.</font>
<span>22</span>
<span>auror</span>
<span>pureblood</span>
<span>durmstrang</span>
</div>
<div class="lan-eykta-plotideas">
<span><i>the world waits to watch you fall</i></span>
<span>arrogant</span>
<span>mischievous</span>
<span>impulsive</span>
<span>detail-oriented</span
<span>perfectionist</span>
<span>rebellious</span>
<span>deliberate</span>
<span>ambitious</span>
<span>inquisitive</span>
</div>
<div class="lan-eykta-claims">
<span>lives in: london</span>
<span>2nd child of the bai family</span>
<span>metamorphmagus</span>
<span>occlumency</span>
<span>imperius</span>
<span>cruciatus</span>
<span>spectrespecs</span>
<span>flying car</span>
</div>
</div>
</div>


<div id="christoph" class="lan-eykta-cont">
<div class="lan-eykta-links">
<span></span>
<font class="le-app"><a href="http://xalohomorax.jcink.net/index.php?showtopic=7420" title="application"></a></font>
<font class="le-dev"><a href="http://xalohomorax.jcink.net/index.php?showtopic=9122" title="development"></a></font>
<font class="le-req"><a href="http://xalohomorax.jcink.net/index.php?showtopic=7896" title="wanted ad(s)"></a></font>
</div>
<div class="lan-eykta-img"><img src="https://abload.de/img/plotter2-christoph2nkro.jpg"></div>
<div class="lan-eykta-text">
<div class="lan-eykta-desc">
<blockquote>
[b]pronouns:[/b] he/him.<br>
[b]terms:[/b] masculine.<br>
[b]avoid:[/b] feminine.
</blockquote>
he's almost certainly in the <b>library</b> somewhere - ask him where this one book is, he knows the library better than the back of his hand. ask him for <b>advice</b>, whether on life or studies, he might be able to help. a <b>seer and skilled in divination</b>, he's the divination club sponsor since feb 2020. the usual <b>pureblood society</b> gatherings, married to aurora von ende (née aurion). discover his <b>secret hobbies</b>, gardening and knitting. an occasional <b>writer</b>, ask to read his works?
</div>
<div class="lan-eykta-name">
<font>christoph von ende.</font>
<span>29</span>
<span>librarian</span>
<span>pureblood</span>
<span>beauxbatons</span>
</div>
<div class="lan-eykta-plotideas">
<span><i>comfort in suits and bow ties</i></span>
<span>mysterious</span>
<span>calm</span>
<span>agreeable</span>
<span>charming</span>
<span>helpful</span>
<span>versatile</span>
<span>distant</span>
<span>territorial</span>
<span>sensitive</span>
</div>
<div class="lan-eykta-claims">
<span>lives in: hogsmeade</span>
<span>heir of the von ende family</span>
<span>married to aurora von ende</span>
<span>seer</span>
<span>divination club sponsor</span>
</div>
</div>
</div>


<div id="thanh" class="lan-eykta-cont">
<div class="lan-eykta-links">
<span></span>
<font class="le-app"><a href="http://xalohomorax.jcink.net/index.php?act=ST&f=7&t=6995" title="application"></a></font>
<font class="le-dev"><a href="#" title="development"></a></font>
<font class="le-req"><a href="http://xalohomorax.jcink.net/index.php?showtopic=8203&view=findpost&p=87811" title="wanted ad(s)"></a></font>
</div>
<div class="lan-eykta-img"><img src="https://abload.de/img/plotter2-thanho9jv9.jpg"></div>
<div class="lan-eykta-text">
<div class="lan-eykta-desc">
<blockquote>
[b]pronouns:[/b] he/him, they/them?.<br>
[b]terms:[/b] masc.?, gender-neutral.<br>
[b]avoid:[/b] boy/girl.<br>
* he's doesn't really feel like binary gender but also can't express it.
</blockquote>
he's a <b>ball of energy</b> and you can find him in too many <b>classes & clubs & on the quidditch pitch</b>. seemingly endless <b>enthusiasm about almost anything</b>, he loves the little and big <b>adventures</b>. he would love some additional <b>tutoring</b> due to his easily distracted nature. be aware of his <b>rambling</b> and the occasional infodump about any of his obsessions. please <b>keep this airhead safe</b> and away from harm.
</div>
<div class="lan-eykta-name">
<font>thanh nguyen.</font>
<span>13</span>
<span>3rd year student</span>
<span>half-goblin</span>
<span>ravenclaw</span>
</div>
<div class="lan-eykta-plotideas">
<span><i>for all you've ever known is run</i></span>
<span>excited</span>
<span>enthusiastic</span>
<span>curious</span>
<span>ambitious</span>
<span>happy-go-lucky</span>
<span>distractible</span>
<span>homesick</span>
<span>confused</span>
<span>ignorant</span>
</div>
<div class="lan-eykta-claims">
<span>lives in: london</span>
<span>reserve chaser</span>
<span>geek culture club</span>
<span>orchestra (violin)</span>
<span>wizard baking</span>
<span>magic carpet</span>
<span>gobblegedook</span>
<span>trollspeak</span>
</div>
</div>
</div>


<div id="molly" class="lan-eykta-cont">
<div class="lan-eykta-links">
<span></span>
<font class="le-app"><a href="http://xalohomorax.jcink.net/index.php?showtopic=8933" title="application"></a></font>
<font class="le-dev"><a href="http://xalohomorax.jcink.net/index.php?showtopic=9273" title="development"></a></font>
<font class="le-req"><a href="http://xalohomorax.jcink.net/index.php?showtopic=8203&view=findpost&p=103423" title="wanted ad(s)"></a></font>
</div>
<div class="lan-eykta-img"><img src="https://abload.de/img/plotter2-mollye4kwr.jpg"></div>
<div class="lan-eykta-text">
<div class="lan-eykta-desc">
<blockquote>
[b]pronouns:[/b] they/them.<br>
[b]terms:[/b] gender-neutral.<br>
[b]avoid:[/b] girl, feminine.
</blockquote>
they are <b>prefect</b> as of year five and would be happy to assist you - a bit more insecure about the punishing part, but in general also rather easy-going. participating in a lot of <b>clubs</b> and also have been <b>quidditch beater</b> before. let them engage you in <b>narrative & very real adventures</b>, a passionate <b>writer</b> and definitely open to loredump to you. be their <b>mentor</b> regarding all things school, personal or career-choices (creatures & beasts, writing, leadership).
</div>
<div class="lan-eykta-name">
<font>molly faust.</font>
<span>15</span>
<span>5th year prefect</span>
<span>halfblood</span>
<span>gryffindor</span>
</div>
<div class="lan-eykta-plotideas">
<span><i>and all the world's a stage</i></span>
<span>compassionate</span>
<span>creative</span>
<span>interested</span>
<span>easy-going</span>
<span>spoiled</span>
<span>confident</span>
<span>determined</span>
<span>opportunistic</span>
<span>insecure</span>
</div>
<div class="lan-eykta-claims">
<span>lives in: london</span>
<span>sibling of rigby faust</span>
<span>quidditch commentator</span>
<span>roll for initiative president</span>
<span>m.c.a.e.t.</span>
<span>theatre (writer, actor)</span>
<span>mermish</span>
<span>gobblegedook</span>
</div>
</div>
</div>


<div id="sasha" class="lan-eykta-cont">
<div class="lan-eykta-links">
<span></span>
<font class="le-app"><a href="http://xalohomorax.jcink.net/index.php?act=ST&f=7&t=9149" title="application"></a></font>
<font class="le-dev"><a href="http://xalohomorax.jcink.net/index.php?act=ST&f=87&t=10546" title="development"></a></font>
<font class="le-req"><a href="http://xalohomorax.jcink.net/index.php?showtopic=8203&view=findpost&p=107170" title="wanted ad(s)"></a></font>
</div>
<div class="lan-eykta-img"><a href="https://beelzepizza.tumblr.com/post/175817749864/momose-narumi-from-wotakoi"><img src="https://abload.de/img/plotter2-sashaaxj2w.jpg"></a></div>
<div class="lan-eykta-text">
<div class="lan-eykta-desc">
<blockquote>
[b]pronouns:[/b] she/her.<br>
[b]terms:[/b] feminine.<br>
[b]avoid:[/b] masculine.
</blockquote>
<b>former arithmancy prof</b>, stepped back 2019. catch her doing <b>reporter work</b> - or maybe she <b>interviews</b> you? she is definitely passionate at work, albeit drinks a few <b>too many cups of coffee</b> and it shows. she needs <b>nerd & gamer friends</b>, <b>friends in general</b> and <b>friends for hurt/comfort</b>. aid her in her <b>werewolf struggles</b> and assure her she's okay - she's getting better, but it's still hard. <b>talk about kids</b> to her, she adores them. meet her at <b>conventions</b>.
</div>
<div class="lan-eykta-name">
<font>sasha kuznetsova.</font>
<span>31</span>
<span>reporter</span>
<span>1/2 vampire, 1/2 wolf</span>
<span>h. serpent</span>
</div>
<div class="lan-eykta-plotideas">
<span><i>we can wait for dusk and dawn</i></span>
<span>cheerful</span>
<span>loving</span>
<span>caretaker</span>
<span>gentle</span>
<span>chaotic</span>
<span>nerd & geek</span>
<span>pastel x horror</span>
<span>inventive</span>
<span>insecure</span>
</div>
<div class="lan-eykta-claims">
<span>lives in: london</span>
<span>mother of hyunjoo</span>
<span>daily prophet</span>
<span>legilimency</span>
</div>
</div>
</div>


<div id="violet" class="lan-eykta-cont">
<div class="lan-eykta-links">
<span></span>
<font class="le-app"><a href="http://xalohomorax.jcink.net/index.php?act=ST&f=7&t=10284" title="application"></a></font>
<font class="le-dev"><a href="#" title="development"></a></font>
<font class="le-req"><a href="http://xalohomorax.jcink.net/index.php?showtopic=8203&view=findpost&p=108831" title="wanted ad(s)"></a></font>
</div>
<div class="lan-eykta-img"><img src="https://abload.de/img/plotter2-violet8uk12.jpg"></div>
<div class="lan-eykta-text">
<div class="lan-eykta-desc">
<blockquote>
[b]pronouns:[/b] any; usually they/them, he/him.<br>
[b]terms:[/b] any (adress: mx or prof).<br>
[b]avoid:[/b] wo/man.<br>
</blockquote>
<b>CURRENTLY INTERIM.</b> one of hogwarts' <b>healers</b>, taking a break from teaching but not quite leaving. can be found in the <b>infirmary</b>. willing to <b>tutor</b> hardworking and responsible students. always happy to educate about <b>lgbt+</b> as much as they can. you can also ask them for <b>general advice</b>. they're terrible at <b>herbology</b> (partially due to their wand) and often ask students or colleagues to help out there. usually <b>fun</b> to be around, but terribly vain.
</div>
<div class="lan-eykta-name">
<font><s>violet qadir-lau.</s></font>
<span>43</span>
<span>hogwarts healer</span>
<span>half-giant</span>
<span>hufflepuff</span>
</div>
<div class="lan-eykta-plotideas">
<span><i>the wonderfully weird mundanity</i></span>
<span>soft</span>
<span>friendly</span>
<span>snappy</span>
<span>predictable</span>
<span>confident</span>
<span>pretty weird</span>
<span>adventurous</span>
<span>vain</span>
<span>strict</span>
</div>
<div class="lan-eykta-claims">
<span><s><a href="http://xalohomorax.jcink.net/index.php?act=ST&f=62&t=9524&st=0#entry109601">healing syllabus</a></s></span>
<span>lives in: hogsmeade</span>
<span>spouse of sebastian cherry</span>
<span>parent of xiaomei zhao</span>
<span>wandless magic</span>
<span>corporeal patronus</span>
<span>occlumency</span>
<span>legilimency</span>
</div>
</div>
</div>


<div id="jody" class="lan-eykta-cont">
<div class="lan-eykta-links">
<span></span>
<font class="le-app"><a href="http://xalohomorax.jcink.net/index.php?act=ST&f=7&t=10703" title="application"></a></font>
<font class="le-dev"><a href="http://xalohomorax.jcink.net/index.php?showtopic=11157" title="development"></a></font>
<font class="le-req"><a href="http://xalohomorax.jcink.net/index.php?showtopic=8203&view=findpost&p=109837" title="wanted ad(s)"></a></font>
</div>
<div class="lan-eykta-img"><img src="https://abload.de/img/plotter2-jody4wkno.jpg"></div>
<div class="lan-eykta-text">
<div class="lan-eykta-desc">
<blockquote>
[b]pronouns:[/b] they/them.<br>
[b]terms:[/b] gender-neutral.<br>
[b]avoid:[/b] feminine, masculine.
</blockquote>
<b>CURRENTLY INTERIM.</b> a <b>knight bus driver</b>, they have been <b>magizoologist & herbologist</b> before. they did a fair share of <b>odd jobs</b> from where they might know quite some people. they're trying to deliver <b>lost letters</b> in their spare time, <b>podcasting</b> is another hobby of theirs. sometimes, they seek <b>non-sexual one night stands</b> - let them pretend for one night you know each other in and out. a <b>quiet, desperate rebellion</b> has begun ever since they joined <b>ignis</b>.
</div>
<div class="lan-eykta-name">
<font><s>jody snodgrass.</s></font>
<span>36</span>
<span>knight bus driver</span>
<span>quarter-giant</span>
<span>slytherin</span>
</div>
<div class="lan-eykta-plotideas">
<span><i>living in liminal spaces</i></span>
<span>laid-back</span>
<span>restless</span>
<span>loyal</span>
<span>indifferent</span>
<span>caring</span>
<span>dreamy</span>
<span>awkward</span>
<span>detached</span>
<span>lost & found</span>
</div>
<div class="lan-eykta-claims">
<span>lives in: london</span>
<span>1st child of the snodgrasses</span>
<span>ignis white mask</span>
<span>cruciatus</span>
</div>
</div>
</div>


<div id="zephyr" class="lan-eykta-cont">
<div class="lan-eykta-links">
<span></span>
<font class="le-app"><a href="http://xalohomorax.jcink.net/index.php?act=ST&f=7&t=11122" title="application"></a></font>
<font class="le-dev"><a href="#" title="development"></a></font>
<font class="le-req"><a href="http://xalohomorax.jcink.net/index.php?showtopic=8203&st=0&#entry115278" title="wanted ad(s)"></a></font>
</div>
<div class="lan-eykta-img"><img src="https://abload.de/img/plotter2-zephyr2ylkpo.jpg"></div>
<div class="lan-eykta-text">
<div class="lan-eykta-desc">
<blockquote>
[b]pronouns:[/b] he/him.<br>
[b]terms:[/b] masculine.<br>
[b]avoid:[/b] feminine.
</blockquote>
he currently lives at <b>the three broomsticks</b>, and works at <b>dogweed & deathcap</b> as <b>clerk / florist / herbologist</b>. talk to him about plants, buy plants there, ... . interested in <b>creating puzzles & teas</b>, maybe you find some of them laying around. he's a <b>former bully</b> (school time), but now <b>disowned</b> and fallen from grace. needs <b>help</b> to learn that the world can be nice - that <i>he</i> can be nice. <b>opressed</b> by society as a werewolf, dislikes the helplessness of dependence and being stuck.
</div>
<div class="lan-eykta-name">
<font>zephyr ristenpat.</font>
<span>35</span>
<span>store clerk</span>
<span>werewolf</span>
<span>grimmforst</span>
</div>
<div class="lan-eykta-plotideas">
<span><i>as darkness tries to be light</i></span>
<span>anti-social</span>
<span>awkward</span>
<span>passive-aggressive</span>
<span>distrusting</span>
<span>trying</span>
<span>repressed</span>
<span>cautious</span>
<span>sad</span>
<span>still moving</span>
</div>
<div class="lan-eykta-claims">
<span>lives in: hogsmeade</span>
<span>father of wendy</span>
<span>dogweed & deathcap</span>
<span>cruciatus</span>
<span>imperius</span>
<span>killing curse</span>
</div>
</div>
</div>

</div>
</div>[/dohtml][/QUOTE]
***/
