@import url('https://fonts.googleapis.com/css?family=Nunito:400,400i,600,600i,700,700i,900,900i');
@import url('https://msikma.github.io/pokesprite-spritesheet/assets/pokesprite-pokemon-gen8.css');

.yuenshipper03 { --whitefont:#f9f9f9;width:500px;padding:20px;box-sizing:content-box;margin:20px auto;background:var(--whitefont);font:14px nunito;text-align:center;box-shadow:0px 0px 8px -3px rgba(0,0,0,0.2);color:#111;letter-spacing:0px;outline:1px solid var(--whitefont);outline-offset:10px }
.yuenshipper03-2 { position:relative;clear:both;height:667px; }

.yuenshipper03-box { display:flex;justify-content:flex-start;font-size:0px;background:white; }
.yuenshipper03-box [type=radio] { display:none; }
.yuenshipper03-box label { transition:0.8s;height:0px;margin-left:5px;cursor:pointer;margin-top:173px;position:relative;z-index:10;display:flex;align-items:center; }
.yuenshipper03-box label[for="ysc-1"] { margin-left:15px; }
.yuenshipper03-box label font { border-radius:100%;width:42px;height:42px;transition:0.8s;display:block;margin-bottom:-15px;background:#ddd;box-shadow:inset 0px 0px 0px 100px rgba(255,255,255,0.1),0px 0px 5px rgba(0,0,0,0.2); }
.yuenshipper03-box label font span { width:42px;height:42px;display:flex;align-items:center;justify-content:center;font-size:21px; }
.yuenshipper03-box label font:hover,
.yuenshipper03 input:checked+label font { background:var(--yeet);color:var(--whitefont) }

.yuenshipper03-cont { width:500px;height:667px;opacity:0;margin-top:-0px;position:absolute;left:0px;transition:0.8s;text-align:justify;box-sizing:border-box;font:14px nunito;line-height:18px; }

.yuenshipper03-cont-scroll b,
.yuenshipper03-cont-scroll i,
.yuenshipper03-cont-special b,
.yuenshipper03-cont-special i,
.yuenshipper03-cont-wanted b,
.yuenshipper03-cont-wanted i { background:var(--yeet) linear-gradient(0deg,transparent 20%,rgba(255,255,255,0.3) 80%);background-clip:text;-webkit-background-clip:text;color:transparent;text-shadow:none; }

.yuenshipper03-cont-head { height:165px;background:var(--yeet) linear-gradient(200deg,rgba(255,255,255,0.5),transparent);border-bottom:10px solid #eee;margin-bottom:20px; }
.yuenshipper03-cont-head img { width:100%;height:100%;object-fit:cover;mix-blend-mode:multiply; }
.yuenshipper03-cont-title { height:360px;position:absolute;width:165px;text-align:right;display:flex;flex-flow:row wrap;justify-content:flex-end;align-content:center;box-sizing:border-box;border-right:2px solid var(--yeet);padding-right:12px; }
.yuenshipper03-cont-title b { font:900 18px nunito;text-align:right;color:var(--whitefont);background:var(--yeet) linear-gradient(to right,rgba(255,255,255,0.5),transparent);margin-right:-12px;border-radius:15px 0px 0px 15px;padding:5px 8px;padding-left:15px;margin-left:15px; }
.yuenshipper03-cont-title hr { width:100%;height:0px;opacity:0;margin:0px;padding:0px; }
.yuenshipper03-cont-title a { color:var(--yeet);font-size:12px;text-transform:uppercase;font-weight:700;margin-top:5px;margin-left:5px;line-height:15px;text-decoration:none; }
.yuenshipper03-cont-title a[href*="?showtopic="] { border-bottom:2px solid var(--yeet); }
.yuenshipper03-cont-title a[href="?showtopic=NUMBER"] { text-decoration:line-through;text-decoration-thickness:2px;border:none; }
.yuenshipper03-cont-title a:before { content:"#"; }

.yuenshipper03-cont-scroll { background:#fff;overflow:auto;height:360px;box-sizing:border-box;padding:0px 20px;padding-left:185px;border-top:20px solid transparent;border-bottom:20px solid transparent;border-radius:10px;border-bottom-left-radius:0px; }
#y-rel .yuenshipper03-cont-scroll,
#y-two .yuenshipper03-cont-scroll { border-bottom-right-radius:0px; }
.yuenshipper03-cont-scroll span { margin-left:-20px;display:block;background:var(--yeet) linear-gradient(to left,rgba(255,255,255,0.5),transparent);width:max-content;padding:5px 20px;border-radius:0px 20px 20px 0px;color:var(--whitefont);font-weight:900;margin-bottom:7px;margin-top:7px; }
.yuenshipper03-cont-scroll span:first-child { margin-top:0px; }

.yuenshipper03-cont-special { float:right;width:32%;font-size:12px;line-height:15px;overflow:auto;height:91px;margin-top:12px;box-sizing:border-box;padding-right:5px; }
.yuenshipper03-cont-wanted { width:60%;background:#eee;height:112px;box-sizing:border-box;overflow:auto;border-radius:0px 0px 15px 15px;margin-left:20px;padding:0px 15px;border-top:15px solid transparent;border-bottom:15px solid transparent;font-size:13px;line-height:17px; }
.yuenshipper03-cont-wanted y1 { display:block;background:var(--yeet);position:absolute;margin-top:-25px;margin-left:-35px;font:700 13px nunito;line-height:22px;border-radius:20px;padding:0px 10px;color:var(--whitefont);text-transform:uppercase; }
#y-rel .yuenshipper03-cont-wanted,
#y-two .yuenshipper03-cont-wanted { width:auto; }

.yuenshipper03 #ysc-1:checked+label ~ #y-one.yuenshipper03-cont,
.yuenshipper03 #ysc-2:checked+label ~ #y-rel.yuenshipper03-cont,
.yuenshipper03 #ysc-3:checked+label ~ #y-two.yuenshipper03-cont { opacity:1;z-index:2; }

#y-one { --yeet:var(--yd); }
#y-two { --yeet:var(--yl); }

.tbar { z-index:99; }
