@import url('https://fonts.googleapis.com/css?family=Karla|Montserrat:400,700');
@import url('https://moonien.github.io/yuen01.css');

.yuenshipper02 { --bg-color:#fafafa;width:500px;margin:30px auto;text-align:justify;font:12px karla;line-height:16px;border-radius:10px;background:#fafafa;box-shadow:0px 0px 0px 1px var(--yeet),8px 8px 0px 0px var(--yeet);box-shadow:0px 0px 4px rgba(0,0,0,0.3);overflow:hidden; }

.yuenshipper02-head span { display:block;height:250px;width:500px;background:var(--yeet);position:absolute;z-index:8;clip-path:circle(23% at 76% 47%);opacity:0.4; }
.yuenshipper02-head img { position:relative;z-index:10;height:270px;width:380px;object-fit:cover;clip-path:circle(65% at 40% 13%); }

.yuenshipper02-title { margin:10px 30px;font:700 42px montserrat;text-transform:lowercase;text-align:left;line-height:40px;color:var(--yeet);text-shadow:2px 2px 0px #eee; }
.yuenshipper02-cont,
.yuenshipper02-box { display:flex;flex-flow:row nowrap;justify-content:space-between;align-items:center;padding:30px; }
.yuenshipper02-desc,
.yuenshipper02-plot { position:relative;z-index:14;flex-basis:250px;background:#f5f5f5;padding:20px 25px;border-radius:10px;box-shadow:0px 0px 4px rgba(0,0,0,0.25); }
.yuenshipper02-desc:before,
.yuenshipper02-plot:before { content:"about";float:right;background:var(--yeet);color:#fafafa;font:700 20px montserrat;line-height:20px;padding:5px 15px;border-radius:40px;margin-right:-40px;margin-top:-35px;box-shadow:2px 2px 0px #eee;text-shadow:2px 2px 0px rgba(0,0,0,0.1); }
.yuenshipper02-subinfo { flex-basis:120px; }
.yuenshipper02-subinfo span { display:block;font:13px montserrat;padding:10px;border-bottom:1px solid var(--yeet);color:var(--yeet);line-height:12px;text-align:left; }
.yuenshipper02-subinfo span:first-child { padding-top:0px; }

.yuenshipper02-box { padding-right:0px;padding-top:0px;align-items:stretch; }
.yuenshipper02-plot { flex-basis:300px;padding:20px 0px; }
.yuenshipper02-plot-scroll { padding:0px 20px;padding-right:15px;overflow:auto;height:350px; }
.yuenshipper02-plot:before { float:left;content:"plotting";margin-left:-15px; }
.yuenshipper02-bubbles { flex-basis:170px;width:170px;overflow:hidden; }
.yuenshipper02-bubbles:before,
.yuenshipper02-bubbles span:before,
.yuenshipper02-bubbles:after,
.yuenshipper02-bubbles span:after { position:absolute;z-index:11;content:"";display:block;background:var(--yeet);height:390px;width:170px; }
.yuenshipper02-bubbles:before { clip-path:circle(14% at 44% 30%);opacity:0.7; }
.yuenshipper02-bubbles:after { clip-path:circle(21% at 84% 17%);opacity:0.4; }
.yuenshipper02-bubbles span:before { clip-path:circle(31% at 14% 68%);opacity:0.3; }
.yuenshipper02-bubbles span:after { clip-path:circle(21% at 72% 82%);opacity:0.2; }

.yuenshipper02-foot { height:380px;margin-top:-30px; }
.yuenshipper02-foot img { width:320px;height:380px;object-fit:cover;clip-path:circle(71% at 78% 70%);float:right;position:relative;z-index:12;margin-left:-350px; }
.yuenshipper02-foot span { position:relative;z-index:17;display:flex;height:380px;width:310px;padding:60px 0px;padding-left:40px;box-sizing:border-box;font:700 25px montserrat;align-items:center;text-transform:uppercase;text-align:left;color:#fafafa;text-shadow:1px 1px 0px var(--yeet),-1px 1px 0px var(--yeet),1px -1px 0px var(--yeet),-1px -1px 0px var(--yeet); }


.yuenshipper02-plot y1 { display:block;text-align:right;padding:5px 10px;border-bottom:1px solid var(--yeet);color:var(--yeet);font:700 14px montserrat;margin-bottom:10px;margin-top:10px;line-height:14px;text-transform:uppercase;letter-spacing:2px;text-shadow:2px 2px 0px #eee; }
.yuenshipper02-desc b,
.yuenshipper02-plot b { font-family:montserrat;color:var(--yeet);text-shadow:1px 1px 0px #ddd;line-height:10px; }
.yuenshipper02-desc i,
.yuenshipper02-plot i { font-size:11px;font-family:montserrat;color:var(--yeet);line-height:10px; }
.yuenshipper02-desc u,
.yuenshipper02-plot u { font-size:11.5px;font-family:montserrat;color:var(--yeet);border-bottom:1px dashed var(--yeet);text-shadow:1px 1px 0px #ddd;line-height:10px; }


.yuenshipper02-plot-scroll::-webkit-scrollbar { width:6px!important;border:none!important; }
.yuenshipper02-plot-scroll::-webkit-scrollbar-track { background:transparent!important;border:none!important; }
.yuenshipper02-plot-scroll::-webkit-scrollbar-thumb { background:var(--yeet)!important;border-radius:4px;border:none!important; }

.yuenshipper02 img { image-rendering:-webkit-optimize-contrast; }
