@import url('https://fonts.googleapis.com/css?family=Karla:400,400i,700,700i|Ubuntu+Mono');
@import url('https://moonien.github.io/yuen01.css');

.yuenshipper01 { --yeet:#404040;--bg-color:#fafafa;
margin:10px auto;width:600px;background:var(--bg-img);background-size:cover;box-shadow:0px 0px 3px rgba(0,0,0,0.2);border:1px solid #404040;border-radius:10px;overflow:hidden; }

.yuenshipper01-box { position:relative;clear:both;height:580px;font-size:0px;display:block; }

.yuenshipper01-title { display:block;background:#404040;flex-basis:100%;padding:4px 6px;box-sizing:border-box;text-align:center;color:#fafafa;font:700 11px karla;display:flex;width:100%;align-items:center;align-content:center;justify-content:space-between; }
.yuenshipper01-title:before { content:"\ec55\ec55\ec55";letter-spacing:2px;font:12px honeybee;background:linear-gradient(90deg, #DB4455 30%, #FFCE55 30%, #FFCE55 65%, #33A559 65%, #33A559 100%);color:transparent;background-clip:text;-webkit-background-clip:text; }
.yuenshipper01-title:after { content:"\ec8e";font:12px honeybee;color:#DB4455;margin-right:2px; }
.yuenshipper01-title.y-one { font-size:14px!important; }

.yuenshipper01-title.y-first { position:absolute;width:312px;margin-left:-6px;margin-top:-25px;border-radius:10px 10px 0px 0px; }

.yuenshipper01-labels { margin:20px;width:300px;height:95px;padding-top:20px;overflow-x:auto;overflow-y:hidden;background:#eee;border-radius:13px;border:5px solid #eee;box-shadow:1px 1px 0px #404040,-1px 1px 0px #404040; }
.yuenshipper01-labels-scrolls { width:calc(var(--character-amount) * 80px);display:flex;flex-flow:row nowrap;align-items:center;height:70px;margin:5px 0px; }
.yuenshipper01-labels label { display:inline-block;filter:grayscale(100%);height:70px;width:70px;margin:0px 5px;transition:0.8s; }
.yuenshipper01-labels label img { height:70px;width:70px;object-fit:cover;border-radius:80px; }
.yuenshipper01-labels input:checked+label,
.yuenshipper01-labels label:hover { filter:grayscale(0%); }
.yuenshipper01-box [type=radio] { display:none; }

.yuenshipper01-character-01,
.yuenshipper01-character-02,
.yuenshipper01-character-03,
.yuenshipper01-character-04,
.yuenshipper01-character-05,
.yuenshipper01-character-06,
.yuenshipper01-character-07,
.yuenshipper01-character-08,
.yuenshipper01-character-09,
.yuenshipper01-character-10,
.yuenshipper01-character-11,
.yuenshipper01-character-12,
.yuenshipper01-character-13,
.yuenshipper01-character-14,
.yuenshipper01-character-15,
.yuenshipper01-character-16,
.yuenshipper01-character-17,
.yuenshipper01-character-18,
.yuenshipper01-character-19,
.yuenshipper01-character-20,
.yuenshipper01-character-21,
.yuenshipper01-character-22,
.yuenshipper01-character-23 { margin-left:-20px;position:absolute;top:130px;z-index:98;font:12px karla;text-align:justify; }


.yuenshipper01-character-call,
.yuenshipper01-character-text,
.yuenshipper01-character-video,
.yuenshipper01-character-chat,
.yuenshipper01-character-music,
.yuenshipper01-character-list { background-size:cover;border-radius:10px;overflow:hidden;position:absolute;border:1px solid #404040;box-shadow:0px 0px 3px rgba(0,0,0,0.7);transform:scale(0);transition:0.8s; }

.yuenshipper01-character-call { height:270px;width:180px;background:linear-gradient(180deg, transparent 70%, rgba(0,0,0,0.8) 100%),#404040 var(--bg-img) center;background-size:cover;display:flex;flex-flow:row wrap;justify-content:center;align-content:flex-end;align-items:center; }
.yuenshipper01-character-call:before,
.yuenshipper01-character-call:after,
.yuenshipper01-character-call span:after { font:15px honeybee;display:flex;align-items:center;justify-content:center;border-radius:50px;box-sizing:border-box;width:30px;height:30px;padding-bottom:2px;color:#fafafa;margin:20px 5px; }
.yuenshipper01-character-call:before { content:"\ecc9";border:1px solid #fafafa; }
.yuenshipper01-character-call:after { content:"\eab7";border:1px solid #fafafa; }
.yuenshipper01-character-call span:after { font-size:22px;width:40px;height:40px;padding-bottom:2px;content:"\ec42";background:#DB4455;transform:rotate(135deg); }

.yuenshipper01-character-text { width:340px; }
.yuenshipper01-character-texting { padding:0px 15px;padding-right:10px;border-top:15px solid #fafafa;border-bottom:15px solid #fafafa;border-right:5px solid #fafafa;background:#fafafa;overflow:auto;height:255px;line-height:16px; }
.yuenshipper01-character-texting y1 { display:block;font:19px ubuntu mono;margin-bottom:5px;margin-top:20px; }
.yuenshipper01-character-texting y1:first-child { margin-top:0px; }

.yuenshipper01-character-video { height:190px;width:280px;background-image:var(--bg-img); }

.yuenshipper01-character-chat { width:190px;height:270px;overflow:auto;background:#404040;padding:10px 0px;border-top-width:10px;border-bottom-width:10px; }
.yuenshipper01-character-chatting { padding:0px 10px;display:flex;flex-flow:column wrap; }
.yuenshipper01-character-chat center { color:#fafafa;margin-bottom:10px;font-weight:700; }
.yuenshipper01-character-chat p { width:max-content;max-width:calc(100% - 15px);box-sizing:border-box;display:inline;padding:5px;margin:2px;border-radius:4px;background:#3BB4C7;color:#fafafa;text-align:left; }
.yuenshipper01-character-chat p.y-left { border-bottom-left-radius:0px; }
.yuenshipper01-character-chat p.y-right { align-self:flex-end;background:#777;border-bottom-right-radius:0px;margin-left:15px; }

.yuenshipper01-character-music { background:linear-gradient(180deg, #404040 70%, #f2f2f2 70%);height:265px;width:220px; }
.yuenshipper01-character-music center:before { content:"";display:block;height:170px;background:var(--bg-img);background-size:cover;margin-bottom:5px;box-shadow:0px 0px 5px rgba(0,0,0,0.7); }
.yuenshipper01-character-music center { font-size:14px;color:#444;line-height:20px;width:170px;padding:25px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis; }

.yuenshipper01-character-list { width:230px; }
.yuenshipper01-character-listing { background:#f2f2f2;padding:10px; }
.yuenshipper01-character-listing span { border-bottom:1px solid #ccc;display:block;padding:3px 5px;font-size:13px; }
.yuenshipper01-character-listing span:after { content:".txt"; }
.yuenshipper01-character-listing span:last-child { border-width:0px; }

.yuenshipper01 #yna-01:checked+label ~ .yuenshipper01-character-01 div,
.yuenshipper01 #yna-02:checked+label ~ .yuenshipper01-character-02 div,
.yuenshipper01 #yna-03:checked+label ~ .yuenshipper01-character-03 div,
.yuenshipper01 #yna-04:checked+label ~ .yuenshipper01-character-04 div,
.yuenshipper01 #yna-05:checked+label ~ .yuenshipper01-character-05 div,
.yuenshipper01 #yna-06:checked+label ~ .yuenshipper01-character-06 div,
.yuenshipper01 #yna-07:checked+label ~ .yuenshipper01-character-07 div,
.yuenshipper01 #yna-08:checked+label ~ .yuenshipper01-character-08 div,
.yuenshipper01 #yna-09:checked+label ~ .yuenshipper01-character-09 div,
.yuenshipper01 #yna-10:checked+label ~ .yuenshipper01-character-10 div,
.yuenshipper01 #yna-11:checked+label ~ .yuenshipper01-character-11 div,
.yuenshipper01 #yna-12:checked+label ~ .yuenshipper01-character-12 div,
.yuenshipper01 #yna-13:checked+label ~ .yuenshipper01-character-13 div,
.yuenshipper01 #yna-14:checked+label ~ .yuenshipper01-character-14 div,
.yuenshipper01 #yna-15:checked+label ~ .yuenshipper01-character-15 div,
.yuenshipper01 #yna-16:checked+label ~ .yuenshipper01-character-16 div,
.yuenshipper01 #yna-17:checked+label ~ .yuenshipper01-character-17 div,
.yuenshipper01 #yna-18:checked+label ~ .yuenshipper01-character-18 div,
.yuenshipper01 #yna-19:checked+label ~ .yuenshipper01-character-19 div,
.yuenshipper01 #yna-20:checked+label ~ .yuenshipper01-character-20 div,
.yuenshipper01 #yna-21:checked+label ~ .yuenshipper01-character-21 div,
.yuenshipper01 #yna-22:checked+label ~ .yuenshipper01-character-22 div,
.yuenshipper01 #yna-23:checked+label ~ .yuenshipper01-character-23 div { transform:scale(1); }


div[class*="yuenshipper01"] { scrollbar-width:thin;scrollbar-color:var(--yeet) transparent; }
div[class*="yuenshipper01"]::-webkit-scrollbar { width:6px!important;border:none!important;border-radius:5px!important; }
div[class*="yuenshipper01"]::-webkit-scrollbar-track { background:transparent!important;border:none!important;border-radius:5px!important; }
div[class*="yuenshipper01"]::-webkit-scrollbar-thumb { background:var(--yeet)!important;border-radius:5px!important;border:none!important;border-radius:5px!important; }
.yuenshipper01-labels::-webkit-scrollbar { height:6px; }
.yuenshipper01-character-chat { --yeet:#fafafa; }
