@import url('https://fonts.googleapis.com/css?family=Karla:400,400i,700,700i|Ubuntu+Mono|Vesper+Libre:900');
@import url('https://moonien.github.io/yuen01.css');

.yuenrequest05 { --bg-color:#fdfdfd;--wish:0px 0px 7px -3px var(--yeet);
margin:30px auto;width:520px;text-align:justify;font:14px karla;line-height:19px;box-shadow:0px 0px 10px -5px rgba(0,0,0,0.5); }
.yuenrequest05-box { background:var(--bg-color);padding:30px; }

.yuenrequest05-head span { display:block;background:var(--yeet);color:var(--bg-color);padding:25px 30px;font:900 30px vesper libre;line-height:30px; }
.yuenrequest05-head span font { display:block;font:700 12px karla;text-transform:uppercase; }
.yuenrequest05-head span font:before { display:block;content:"";border-top:3px solid var(--bg-color);width:70px;margin:10px 0px; }
.yuenrequest05-head img { width:100%;max-height:250px; }

.yuenrequest05-character { height:310px;background:var(--bg-color); }
.yuenrequest05-character:before { content:"\eb67";display:block;font:80px honeybee;line-height:80px;position:absolute;margin-left:110px;margin-top:210px;z-index:9;transform:rotate(-1deg);background-color:var(--yeet);background-image:var(--img);background-size:cover;background-position:center;background-clip:text;-webkit-background-clip:text;color:transparent; }
.yuenrequest05-character-title { display:flex;width:100%;box-sizing:border-box;height:50px;align-items:center;background:var(--yeet);color:var(--bg-color);padding:10px 30px;font:700 17px karla;line-height:20px;text-transform:uppercase; }
.yuenrequest05-character-title span { display:block;width:100%;text-align:justify; }
.yuenrequest05-character-image { clip-path:polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 0 49%, 0% 0%);float:left;height:260px; }
.yuenrequest05-character-image img { height:260px;width:180px;object-fit:cover; }
.yuenrequest05-character-info { height:35px;display:flex;width:calc(100% - 180px);justify-content:center;align-content:center;align-items:center;color:var(--yeet);font:13px ubuntu mono;text-transform:uppercase; }
.yuenrequest05-character-info font:before,
.yuenrequest05-character-info font:after { content:"//";margin:0px 5px; }
.yuenrequest05-character-info span { margin:2px 5px;padding-bottom:2px;border-bottom:2px solid var(--yeet); }
.yuenrequest05-character-text { padding:0px 20px;overflow:auto;height:190px; }


.yuenrequest05 b { color:var(--yeet);font-size:16px;line-height:19px;padding:0px 2px; }
.yuenrequest05 i { color:var(--yeet);text-shadow:1px 1px 0px #f8f8f8;letter-spacing:1px; }
.yuenrequest05 s { color:#888; }


.yuenrequest05-character-text { scrollbar-width:thin;scrollbar-color:var(--yeet) transparent; }
.yuenrequest05-character-text::-webkit-scrollbar { width:6px!important;border:none!important;border-radius:5px!important;background:transparent!important; }
.yuenrequest05-character-text::-webkit-scrollbar-track { background:transparent!important;border:none!important;border-radius:5px!important; }
.yuenrequest05-character-text::-webkit-scrollbar-thumb { background:var(--yeet)!important;border-radius:5px!important;border:none!important;border-radius:5px!important; }
