@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700');
@import url('https://dl.dropbox.com/s/cfg9ui7y88t65ip/yuen01.css');

.yuentracker05,
.yuentracker05-500 { --ybg-img:url(https://i64.servimg.com/u/f64/19/28/65/32/16y1u_11.jpg);--tbt:var(--ybg-img) center fixed;--bg-color:#fafafa;
width:600px;margin:30px auto;box-shadow:0px 0px 10px -5px rgba(0,0,0,0.5); }

.yuentracker05-box { display:flex;flex-flow:row wrap;width:100%;font:14px ubuntu mono;line-height:15px;color:#ddd; }

.yuentracker05-title { flex-basis:420px;background:var(--tbt),#888;background-size:cover;background-blend-mode:multiply;height:180px;display:flex;flex-flow:row wrap;align-items:center;align-content:center;box-sizing:border-box;padding:30px 40px;font-size:30px;text-transform:uppercase;line-height:25px;box-shadow:inset 0px 0px 15px rgba(0,0,0,0.6); }
.yuentracker05-title font { flex-basis:100%;text-shadow:0px 0px 3px rgba(0,0,0,0.5);margin-bottom:5px; }
.yuentracker05-title span { background:rgba(0,0,0,0.6);font-size:14px;border-radius:3px;padding:2px 5px;line-height:17px;margin-left:5px;margin-top:5px; }
.yuentracker05-title span:before { content:"#";padding-right:3px;color:var(--yeet); }
.yuentracker05-image { flex-basis:180px;background:var(--tbt),var(--yeet);background-size:cover;background-blend-mode:multiply;box-shadow:inset 0px 0px 5px rgba(0,0,0,0.6); }
.yuentracker05-image img { height:120px;width:120px;object-fit:cover;padding:15px;margin:15px;background:rgba(0,0,0,0.9);box-shadow:0px 0px 5px rgba(0,0,0,0.6); }

.yuentracker05-links { flex-basis:100%;box-shadow:inset 0px 0px 0px 40px rgba(0,0,0,0.9);box-sizing:border-box;padding:15px 20px;background:var(--tbt),#333;background-size:cover;background-blend-mode:multiply;line-height:15px;font-size:0px;border-bottom:1px solid #333;text-transform:lowercase; }
.yuentracker05-links a { font-size:15px;color:#eee!important;text-decoration:none;transition:0.8s; }
.yuentracker05-links a:hover { color:var(--yeet)!important; }
.yuentracker05-links span:after,
.yuentracker05-links font:after { opacity:0.9;font-size:15px;content:"/";margin:0px 10px; }
.yuentracker05-links font:before { opacity:0.9;font-size:15px;margin-right:10px;content:"file:///c:/users/" var(--yname) "/"; }

.yuentracker05-cont { flex-basis:420px;background:var(--tbt),var(--yeet);background-size:cover;background-blend-mode:multiply;box-sizing:border-box;padding:30px;padding-bottom:15px;box-shadow:inset 0px 0px 10px rgba(0,0,0,0.6); }
.yuentracker05-cont div[class^="yuentracker05-cont-"] { background:rgba(0,0,0,0.7);margin-bottom:15px;padding:20px 15px;box-shadow:0px 0px 4px rgba(0,0,0,0.2) }
.yuentracker05-cont span { display:block;margin:-20px -15px;margin-bottom:10px;padding:10px 20px;text-transform:uppercase;font-size:15px;background:var(--yeet);box-shadow:inset 0px 0px 0px 100px rgba(0,0,0,0.3); }
.yuentracker05-cont li { list-style:none;margin:0px;margin-top:10px; }
.yuentracker05-cont a { color:var(--yeet);text-transform:uppercase;text-decoration:none;background:rgba(255,255,255,0.07);border-radius:2px;padding:0px 4px;margin-right:0px;padding-bottom:1px;line-height:10px; }
.yuentracker05-cont a:before { content:"#";color:#eee;padding:0px 1px;padding-right:3px; }

.yuentracker05-cont-box { padding:0px!important;background:none!important;margin:0px!important;box-shadow:none!important; }

.yuentracker05-count { flex-basis:180px;background:var(--tbt),#888;background-size:cover;background-blend-mode:multiply;box-sizing:border-box;padding:20px;text-transform:uppercase;overflow:hidden;box-shadow:inset 0px 0px 10px rgba(0,0,0,0.6); }
.yuentracker05-count span { border-bottom:1px solid #ccc;margin-bottom:15px;display:block;padding-bottom:10px;text-shadow:0px 0px 3px rgba(0,0,0,0.6); }
.yuentracker05-count font { margin-right:120px;margin-bottom:5px;display:inline-block;font-size:21px;border-radius:4px;background:rgba(0,0,0,0.9);padding:3px 5px; }



.yuentracker05-500 { width:500px; }
.yuentracker05-500 .yuentracker05-title { flex-basis:350px;height:150px; }
.yuentracker05-500 .yuentracker05-image { flex-basis:150px; }
.yuentracker05-500 .yuentracker05-image img { height:90px;width:90px; }

.yuentracker05-500 .yuentracker05-cont { flex-basis:350px; }
.yuentracker05-500 .yuentracker05-count { flex-basis:150px; }


.yuentracker05,
.yuentracker05-500 { counter-reset:active; }
.yuentracker05-box { counter-reset:dead; }
.yuentracker05-cont { counter-reset:completed; }
.yuentracker05-cont-active li { counter-increment:active; }
.yuentracker05-cont-dead li { counter-increment:dead; }
.yuentracker05-cont-dead a { text-decoration:line-through; }
.yuentracker05-cont-completed li { counter-increment:completed; }
.yuentracker05-count .tbt-active font:after { content:counter(active); }
.yuentracker05-count .tbt-dead font:after { content:counter(dead); }
.yuentracker05-count .tbt-completed font:after { content:counter(completed); }
.yuentracker05-count span[class^="tbt"] font:before { content:"#";color:var(--yeet); }



.yuentracker05-tbt { counter-reset:communication; }
.yuentracker05-cont-comm a { counter-increment:communication; }
.yuentracker05-count .tbt-comm font:after { content:counter(communication); }





#tbt-hover { overflow:hidden;height:0px;transition:0.8s; }
#tbt-hover:hover { height:255px; }
.yuentracker05-scroll { overflow:auto;height:230px;margin-right:-10px;padding-right:10px;scrollbar-color:rgba(255,255,255,0.5) transparent;scrollbar-width:thin;margin-top:5px; }
.yuentracker05-scroll li:first-child { margin-top:0px; }
.yuentracker05-scroll::-webkit-scrollbar { width:6px!important;border:none!important;border-radius:0px!important; }
.yuentracker05-scroll::-webkit-scrollbar-track { background:transparent!important;border:none!important;border-radius:0px!important; }
.yuentracker05-scroll::-webkit-scrollbar-thumb { background:rgba(255,255,255,0.5)!important;border-radius:0px!important;border:none!important; }