@import url('https://fonts.googleapis.com/css?family=Rubik:400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700');
@import url('https://solrainha.github.io/honeybee/honeybee.css');

.yuengallery,
.yuenrules,
.yuenupdate { --yeet:#B48CBE;--yeet2:180,140,190; }
.yuengallery { width:510px;margin:30px auto;text-align:justify;font:13px rubik;line-height:18px;box-shadow:6px 6px 0px -4px var(--yeet); }
.yuengallery-box { background:linear-gradient(180deg, rgba(250,250,250,1) 30%, rgba(var(--yeet2),0.2) 80%) fixed,#fff;padding:10px;border-top-left-radius:220px; }
.yuengallery { width:530px; }

.yuengallery-nav { position:sticky;position:-webkit-sticky;top:70px;margin:30px 15px;margin-top:280px;float:left;width:140px;overflow:hidden;height:275px; }
.yuengallery-nav span a { display:flex;width:100%;box-sizing:border-box;align-items:center;text-transform:uppercase;font:11px rubik;color:var(--yeet);justify-content:space-between;margin:5px 0px;padding:0px 10px;color:var(--yeet);border-radius:50px;text-shadow:0px 0px 2px #fff,0px 0px 2px #fff,1px 1px 0px #fff; }
.yuengallery-nav span a:before { height:30px;content:var(--yicon);font:15px honeybee;text-shadow:0px 0px 2px var(--yeet),0px 0px 2px var(--yeet);color:#fafafa;display:flex;align-items:center;justify-content:center; }
.yuengallery-nav span:after { content:"";display:block;border:30px solid transparent;border-top-width:0px;border-bottom:1px solid var(--yeet);opacity:0.6; }
.yuengallery-nav span:nth-child(odd) a { flex-flow:row-reverse; }

.yuengallery-cont { padding:30px;padding-top:10px;padding-left:170px; }
.yuengallery-cont span.th { display:block;content:"\ebee";font:150px honeybee;float:right;margin:-120px;margin-top:15px;margin-right:-15px;color:white;text-shadow:0px 0px 2px var(--yeet),0px 0px 2px var(--yeet);opacity:0.3;position:relative;z-index:19!important;position:sticky;position:-webkit-sticky;top:15px; }
.yuengallery-cont-inner { position:relative;z-index:21!important;padding:0px;margin:0px; }

.yuengallery-cont y1 { display:flex;width:100%;padding-top:20px;padding-bottom:10px;font:700 25px rubik;color:var(--yeet);color:white;text-shadow:1px 1px 0px var(--yeet),-1px 1px 0px var(--yeet),1px -1px 0px var(--yeet),-1px -1px 0px var(--yeet);line-height:30px;align-items:center;text-shadow:0px 0px 2px var(--yeet),0px 0px 2px var(--yeet),0px 0px 2px var(--yeet);text-align:left; }
.yuengallery-cont y1:before { content:var(--yicon);font:27px honeybee;line-height:20px;display:inline-block;margin-right:10px; }
.yuengallery-cont b,
.yuengallery-cont i { color:var(--yeet); }

.yuenlink { padding:0px 10px;margin:10px 0px;text-transform:uppercase;font-size:0px;text-align:left; }
.yuenlink a { display:flex;width:calc(100% + 20px);align-items:center;justify-content:space-between;box-sizing:border-box;font:700 14px rubik;padding:5px 10px;color:#fafafa;background:linear-gradient(170deg, rgba(250,250,250,0.3) 10%, rgba(250,250,250,0.8) 90%),var(--yeet);border-radius:10px;line-height:20px;text-shadow:0px 0px 2px var(--yeet),0px 0px 2px var(--yeet),0px 0px 2px var(--yeet);margin:0px -10px;margin-bottom:3px; }
.yuenlink a:after { content:var(--yicon);font:32px honeybee;height:20px;display:flex;align-items:center; }
.yuenlink span { display:inline-block;font:11px ubuntu mono;margin:2px;padding:2px 3px;color:#777;background:rgba(255,255,255,0.5); }
.yuenlink span:before { content:"#";color:var(--yeet); }


.yuengallery-nav a[href^="#intro"] { --yicon:"\ebf6"; }
.yuengallery #intro { --yicon:"\ebf7"; }
.yuengallery-nav a[href^="#thread"],
.yuenupdate .y-thread { --yicon:"\eb1c"; }
.yuengallery #thread { --yicon:"\eb1d"; }
.yuengallery-nav a[href^="#request"],
.yuenupdate .y-request { --yicon:"\ebd4"; }
.yuengallery #request { --yicon:"\ebd5"; }
.yuengallery-nav a[href^="#shipper"],
.yuenupdate .y-shipper { --yicon:"\ec0b"; }
.yuengallery #shipper { --yicon:"\ec0a"!important; }
.yuengallery-nav a[href^="#dev"],
.yuenupdate .y-dev { --yicon:"\ebf8"; }
.yuengallery #dev { --yicon:"\ebf9"!important; }
.yuengallery-nav a[href^="#tracker"],
.yuenupdate .y-tracker { --yicon:"\ec11"; }
.yuengallery #tracker { --yicon:"\ec10"!important; }
.yuengallery-nav a[href^="#misc"],
.yuenupdate .y-misc { --yicon:"\eb68"; }
.yuengallery-nav a[href^="#skin"],
.yuenupdate .y-skin  { --yicon:"\eb67"; }
.yuengallery #skin { --yicon:"\ec04"!important; }
.yuengallery #misc { --yicon:"\ebca"; }
.yuengallery #yuenct { --yicon:"\ec0f"; }
.yuengallery #yuenwjsn { --yicon:"\ebe9"; }
.yuengallery #yuenceo { --yicon:"\ebf1"; }
.yuengallery #credits { --yicon:"\ebef"; }



.yuenupdate { width:calc(100% - 60px);max-width:300px;border-radius:15px;padding:30px;background:rgba(250,250,250,0.6);font:12px rubik;line-height:17px;margin:40px auto;box-shadow:0px 0px 5px var(--yeet);color:#222;text-align:justify; }
.yuenupdate b { display:block;color:var(--yeet);text-align:center;margin-bottom:10px;margin-top:20px;text-transform:uppercase;text-shadow:2px 2px 0px #eee;font-size:18px; }
.yuenupdate b:first-child { margin-top:0px; }
/*
.yuenupdate span { order:3;display:flex;flex-flow:row wrap;width:100%;box-sizing:border-box;padding:0px 10px;align-items:center;justify-content:flex-start;color:var(--yeet);text-transform:uppercase;text-shadow:1px 1px 0px #fafafa; }
.yuenupdate span:before { order:-2;content:"";width:calc(100% - 20px);box-sizing:border-box;border-bottom:1px solid var(--yeet);border-left:30px solid transparent;border-right:30px solid transparent;margin:5px 10px;margin-top:5px; }
.yuenupdate span:after { order:-1;content:var(--yicon);font:17px honeybee;color:white;text-shadow:0px 0px 2px var(--yeet);flex-basis:70px;text-align:right;padding-right:10px; }
*/
.yuenupdate font { display:flex;flex-flow:row wrap;justify-content:space-between; }
.yuenupdate span { flex-grow:1;padding:0px 10px;display:flex;flex-flow:row nowrap;align-items:center;justify-content:flex-start;background:linear-gradient(170deg, rgba(250,250,250,0.3) 10%, rgba(250,250,250,0.8) 90%),var(--yeet);color:#fafafa;border-radius:10px;font:700 13px ubuntu mono;text-transform:uppercase;margin:5px 4px;text-shadow:0px 0px 2px var(--yeet),0px 0px 2px var(--yeet),0px 0px 2px var(--yeet),0px 0px 2px var(--yeet);line-height:23px;padding-bottom:1px;text-align:left; }
.yuenupdate span:before { content:var(--yicon);font:28px honeybee;color:rgba(255,255,255,0.5);display:flex;height:25px;width:25px;align-items:center;justify-content:center;margin-right:-20px; }



.yuenrules { width:390px;margin:20px auto;margin-bottom:70px;display:flex;justify-content:space-between;flex-flow:row wrap;text-align:justify;font:400 12px rubik;line-height:14px;color:#222; }
.yuenrules-title { border-top-left-radius:50px;padding:10px;box-sizing:border-box;background:linear-gradient(-20deg, rgba(var(--yeet2),0.5) 20%, rgba(240,240,240,0.4) 80%);flex-basis:100px;text-align:right;color:white;text-transform:uppercase;text-shadow:0px 0px 2px var(--yeet);display:flex;flex-flow:row wrap;align-content:space-between;justify-content:center; }
.yuenrules-title:before { content:"\ebef";font:50px honeybee;display:block;margin:5px; }
.yuenrules-title:before,
.yuenrules-title b,
.yuenrules-list li:before { text-shadow:0px 0px 2px var(--yeet),0px 0px 2px var(--yeet); }
.yuenrules-title b { font-size:16px; }
.yuenrules-cont { flex-basis:280px;counter-reset:rules; }
.yuenrules-list,
.yuenrules-desc { background:rgba(250,250,250,0.4);border:2px solid rgba(var(--yeet2),0.3);padding:10px; }
.yuenrules-desc { margin-top:10px;padding:10px 0px; }
.yuenrules-desc div { margin:0px;padding:0px;max-height:84px;overflow:auto;display:block;padding:0px 10px; }
.yuenrules-list li { counter-increment:rules;list-style:none;margin:0px;padding:0px;margin-top:3px; }
.yuenrules-list li:first-child { margin:0px; }
.yuenrules-list li:before { content:"0"counter(rules);width:21px;display:inline-block;font-weight:bolder;color:white; }
.yuenrules-cont b,
.yuenrules-cont i { color:var(--yeet); }
.yuenrules-desc { font-size:11px;line-height:12px; }

#mobile .yuenrules { width:calc(100% - 40px); }
#mobile .yuenrules-title,
#mobile .yuenrules-cont { flex-basis:100%; }
#mobile .yuenrules-title { margin-bottom:10px;flex-wrap:nowrap;align-items:center; }
#mobile .yuenrules-title:before { margin-right:40%;margin-left:15px; }
