@import url('https://fonts.googleapis.com/css?family=Karla:400,400i,700,700i|Damion|Laila:500,400,700|Ubuntu+Mono:400');
@import url('https://moonien.github.io/yuen01.css');

.yuenrequest03 { --bg-color:#fff;width:500px;margin:40px auto;text-align:justify;box-shadow:0px 0px 5px -2px rgba(0,0,0,0.3);font:13px karla;line-height:18px;background:white;color:black; }

.yuenrequest03-title { font:500 12px laila;text-transform:uppercase;text-align:center;padding:30px;letter-spacing:1px;color:#444;line-height:14px; }
.yuenrequest03-title span { display:block;text-transform:lowercase;font:italic 34px damion;line-height:21px;color:var(--yeet); }
.yuenrequest03-info:before { content:"";display:block;background:#ddd;height:3px;width:140px;margin:10px 200px; }
.yuenrequest03-info { margin:-15px 20px;display:flex;flex-flow:row wrap;justify-content:center; }
.yuenrequest03-info span,
.yuenrequest03-wanted-info span { font:11px ubuntu mono;line-height:15px;display:block;margin:2px;color:white;background:var(--yeet);padding:1px 3px;border-radius:3px;text-transform:uppercase; }

.yuenrequest03-desc { padding:40px; }


.yuenrequest03-wanted { display:flex;flex-flow:row wrap;align-items:flex-start;smargin-bottom:-40px; }

.yuenrequest03-wanted-info { padding:20px 10px;padding-top:40px;box-sizing:border-box;width:290px;background:var(--yeet);display:flex;flex-flow:row wrap;justify-content:center;align-items:flex-start;align-content:flex-start;text-align:center; }
.yuenrequest03-wanted-info font { font:20px laila;line-height:24px;color:white;width:100%; }
.yuenrequest03-wanted-info span { background:white;color:var(--yeet); }

.yuenrequest03-wanted-box { height:40px;width:40px;border-radius:70px;background:var(--yeet);position:relative;z-index:7;margin-left:-6px;align-self:center; }
.yuenrequest03-wanted-info:after,
.yuenrequest03-wanted-cont:before { content:"";display:block;height:40px;width:40px;border-radius:70px;background:white;position:absolute; }
.yuenrequest03-wanted-info:after { margin-top:-47px; }
.yuenrequest03-wanted-cont:before { margin-left:105px;background:var(--yeet);margin-top:-56px; }

.yuenrequest03-wanted-cont { box-sizing:border-box;width:290px;padding:0px 20px;border-bottom:34px solid transparent;border-top:50px solid transparent;border-right:20px solid transparent;overflow:auto;height:300px;scrollbar-color:var(--yeet) #eee;scrollbar-width:thin; }

.yuenrequest03-wanted-cont::-webkit-scrollbar { width:6px!important;border:none!important; }
.yuenrequest03-wanted-cont::-webkit-scrollbar-track { background:#eee!important;border-radius:5px!important;border:none!important; }
.yuenrequest03-wanted-cont::-webkit-scrollbar-thumb { background:var(--yeet)!important;border-radius:5px!important;border:none!important; }

.yuenrequest03-wanted-image { height:350px;width:210px;background-size:cover;background-position:center;margin-top:-50px; }
.yuenrequest03-wanted-image-box { background:white;mix-blend-mode:screen;height:350px;overflow:hidden; }
.yuenrequest03-wanted-image-box1,
.yuenrequest03-wanted-image-box2,
.yuenrequest03-wanted-image-box3:before,
.yuenrequest03-wanted-image-box3:after { position:absolute; }
.yuenrequest03-wanted-image-box1 { background:black;height:300px;width:210px;margin-top:50px; }
.yuenrequest03-wanted-image-box2,
.yuenrequest03-wanted-image-box3:before,
.yuenrequest03-wanted-image-box3:after { z-index:7;border-radius:100px;background:black;width:50px;height:50px;margin:5px 80px; }
.yuenrequest03-wanted-image-box3:before,
.yuenrequest03-wanted-image-box3:after { content:"";background:white;margin-top:307px; }
.yuenrequest03-wanted-image-box3:after { position:relative; }
.yuenrequest03-wanted-image-box3:before { margin-left:-7px;margin-top:175px; }

.yuenrequest03 b { color:var(--yeet);font-family:laila; }
