@import url('https://fonts.googleapis.com/css?family=Karla:700,700i,400|Quicksand:400,400i,700,700i');
@import url('https://moonien.github.io/yuen01.css');

.yuendev03 { --bg-color:#111;width:500px;margin:30px auto;text-align:justify;font:12px karla;line-height:16px;box-shadow:0px 0px 4px rgba(0,0,0,0.3);background:url(https://i64.servimg.com/u/f64/19/28/65/32/brush_10.jpg) center fixed,var(--yeet);background-blend-mode:multiply;background-size:cover;color:#111; }

.yuendev03-box { padding:20px; }
.yuendev03-boxing { padding:20px;background:var(--yeet);border:20px solid rgba(0,0,0,0.9);background-clip:padding-box; }
.yuendev03-boxing { margin-top:20px; }
.yuendev03-boxing:first-child { margin-top:0px; }

.yuendev03-img1,
.yuendev03-img2,
.yuendev03-img3 { font-size:0px;display:flex;flex-flow:row wrap;justify-content:space-between; }
.yuendev03-img1 img,
.yuendev03-img2 img,
.yuendev03-img3 img { object-fit:cover;margin:3px; }
.yuendev03-img1 img { width:calc(100% - 6px); }
.yuendev03-img2 img { width:calc(50% - 6px); }
.yuendev03-img3 img { width:calc(33% - 6px);margin:4px 3px; }
.yuendev03-img3 { margin:-1px 0px; }
.yuendev03-img2.y-moodboard img { height:185px; }
.yuendev03-img3.y-moodboard img { height:120px; }
.yuendev03 img.y-seven { filter:grayscale(100%);mix-blend-mode:hard-light; }
.yuendev03 img.y-sense { filter:grayscale(100%);mix-blend-mode:multiply; }

.yuendev03-quote { text-align:center; }
.yuendev03-quote span { display:block;font:32px quicksand;margin-bottom:20px;text-transform:lowercase;line-height:35px; }
.yuendev03-quote font { display:block;text-transform:uppercase;font:700 11px karla; }
.yuendev03-quote span:before { content:"❝";margin-right:10px; }
.yuendev03-quote span:after { content:"❞";margin-left:10px; }
.yuendev03-quote font:before { content:"";width:40px;margin:10px auto;background:#111;height:2px;display:block; }

.yuendev03-playlist { padding:30px; }
.yuendev03-playlist font { display:block;margin-bottom:30px;font:30px quicksand;text-align:center;line-height:30px; }
.yuendev03-playlist font:before { content:"NOW PLAYING ...";display:block;font:700 11px karla;margin:0px 110px;margin-bottom:10px;padding:5px 7px;border-radius:20px;background:#111;color:var(--yeet); }
.yuendev03-playlist span { display:flex;width:100%;box-sizing:border-box;justify-content:space-between;flex-flow:row nowrap;border-top:1px solid #111;padding:15px 10px;font:14px karla;align-items:flex-start;text-align:right; }
.yuendev03-playlist span b { font-family:quicksand;padding-right:20px;text-align:left;max-width:56%; }
.yuendev03-playlist span a { color:inherit!important;font:inherit!important;transition:0.8s;text-decoration:none; }
.yuendev03-playlist span a:hover { opacity:0.6; }

.yuendev03-title { display:flex;flex-flow:row wrap;justify-content:center; }
.yuendev03-title font { display:block;flex-basis:100%;text-align:center;font:35px quicksand;line-height:40px; }
.yuendev03-title span { font:700 11px karla;margin:0px 3px;text-transform:uppercase;margin-top:5px; }
.yuendev03-title span:before { content:"#";padding-right:0px; }

.y-dark { background:rgba(0,0,0,0.9);border-width:0px;padding:40px;color:var(--yeet); }
.y-dark .yuendev03-img1,
.y-dark .yuendev03-img2,
.y-dark .yuendev03-img3 { margin:-20px; }
.y-dark .yuendev03-img2.y-moodboard img { height:205px; }
.y-dark .yuendev03-img3.y-moodboard img { height:135px; }
.y-dark .yuendev03-quote font:before { background:var(--yeet); }
.y-dark .yuendev03-playlist span { border-color:var(--yeet); }
.y-dark .yuendev03-playlist font:before { color:#111;background:var(--yeet); }
