@import url('https://fonts.googleapis.com/css?family=Jaldi:400,700|Knewave');
@import url('https://moonien.github.io/yuen01.css');

.yuentracker08 { --bg-color:#fff;--yeet:#3baeda;--moon:#ec87bf;
width:450px;margin:20px auto;font:15px jaldi;line-height:18px; }
.yuentracker08-box { background:var(--bg-color);box-shadow:0px 0px 8px -3px rgba(0,0,0,0.4);border-radius:12px;padding:15px; }

.yuentracker08-head { margin-bottom:10px; }
.yuentracker08-head div { background:rgba(200,200,200,0.2);border-radius:7px;width:100%;overflow:hidden;padding-bottom:8px; }
.yuentracker08-head span:before { display:block;content:"";border-left:500px solid transparent;border-bottom:20px solid var(--moon);height:0px;position:absolute;margin-top:-20px; }
.yuentracker08-head span,
.yuentracker08-head font { text-align:right;display:block;color:var(--bg-color);background:var(--moon);text-shadow:2px 2px 0px rgba(20,20,20,0.2);transform:rotate(-7deg);transform-origin:0% 0%;margin:0px -10px;margin-top:40px;padding:7px 30px; }
.yuentracker08-head span { font:30px knewave; }
.yuentracker08-head font { background:var(--yeet);text-shadow:1px 1px 0px rgba(20,20,20,0.3);text-transform:uppercase;padding:5px 30px;margin:0px -15px;margin-top:-8px;transform:rotate(-3deg);transform-origin:0% 0%; }

.yuentracker08-head ystar,
.yuentracker08-head ysun { display:block;position:absolute;z-index:2;font:130px honeybee;line-height:140px; }
.yuentracker08-head ystar { transform:rotate(0deg);margin-left:-28px;margin-top:-30px; }
.yuentracker08-head ysun { transform:rotate(-0deg);margin-left:55px;margin-top:33px; }
.yuentracker08-head ystar:before,
.yuentracker08-head ysun:before,
.yuentracker08-head ystar:after,
.yuentracker08-head ysun:after { content:"\eb67";position:absolute;z-index:3; }
.yuentracker08-head ysun:before,
.yuentracker08-head ysun:after { font-size:110px;line-height:110px;content:"\ec11"; }
.yuentracker08-head ystar:before,
.yuentracker08-head ysun:before { color:var(--bg-color);-webkit-text-stroke:4px;-webkit-text-fill-color:transparent;color:white; }
.yuentracker08-head ystar:after,
.yuentracker08-head ysun:after { background:var(--bgimg);background-size:cover;background-position:center;background-clip:text;-webkit-background-clip:text;color:transparent; }
